<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration>

    <appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
        <!-- 设置日志输出的样式 -->
        <layout class="org.apache.log4j.PatternLayout">
            <!-- 设置日志输出的格式 -->
            <param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%-5p] [%c]-[%m]%n" />
        </layout>
        <!--过滤器设置输出的级别-->
        <!--<filter class="org.apache.log4j.varia.LevelRangeFilter">
            &lt;!&ndash; 设置日志输出的最小级别 &ndash;&gt;
            <param name="levelMin" value="DEBUG" />
            &lt;!&ndash; 设置日志输出的最大级别 &ndash;&gt;
            <param name="levelMax" value="ERROR" />
            &lt;!&ndash; 设置日志输出的xxx，默认是false &ndash;&gt;
            <param name="AcceptOnMatch" value="true" />
        </filter>-->
    </appender>

    <logger name="ConsoleLogger" additivity="false">
        <param name="" value=""/>
        <level value="info" />
        <appender-ref ref="ConsoleAppender"/>

    </logger>


</log4j:configuration>